@import "variables";

h1 {
    color: $red;
    transform: rotate(-7deg);

    span {  //h1 span
        color: blue;
    }

    &:hover {       // & = the parent selecter
        color: darken($red, 25%);
    }
}